@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.6vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.c-button {
  line-height: 1;
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .c-button {
    font-size: 2rem;
  }
}

.c-card-blog {
  width: 296px;
  width: 18.5rem;
  margin: 20px auto 0 auto;
  margin: 1.25rem auto 0 auto;
}
@media screen and (min-width: 768px) {
  .c-card-blog {
    width: 100%;
  }
}

.c-card-blog__block:nth-child(n+2) {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .c-card-blog__block:nth-child(n+2) {
    margin-top: 0;
    margin-top: initial;
  }
}

.c-card-blog__img img {
  border-radius: 10px 10px 0 0;
}

.c-card-blog__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  color: #000;
}

.c-card-blog__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  margin-top: 7.3px;
  margin-top: 0.45625rem;
}

.c-card {
  max-width: 320px;
  max-width: 20rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

.c-card:nth-child(n+2) {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .c-card:nth-child(n+2) {
    margin-top: 0;
    margin-top: initial;
    margin-left: 1.25rem;
  }
}

.c-card__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  width: 3.125rem;
  height: 100%;
  z-index: 1;
  border-radius: 10px 0 0 10px;
}

.c-card__img {
  position: relative;
  z-index: 3;
}

.c-card__img::before {
  content: "";
  display: block;
  padding-top: 62.5%;
}

.c-card__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-card__img img {
  border-radius: 10px 10px 0 0;
}

.c-card__body {
  position: relative;
  background-color: #F7F7F7;
  border-radius: 0px 0px 10px 10px;
}

.c-card__title {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  color: #AF9E97;
}

.c-card__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  color: #000;
  margin-top: 6px;
  margin-top: 0.375rem;
}

.c-section-header {
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}

.c-section-header__title {
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .c-section-header__title {
    font-size: 3rem;
  }
}

.c-section-header__subtitle {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  border-bottom: 2px solid #005700;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .c-section-header__subtitle {
    font-size: 1.5rem;
  }
}

.l-blog {
  margin-top: 40px;
  margin-top: 2.5rem;
}

.l-inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1050px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-news {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .l-news {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .l-staff-blog {
    margin-top: 4.9375rem;
    margin-bottom: 5rem;
  }
}

.l-works {
  margin-top: 50px;
  margin-top: 3.125rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
}
@media screen and (min-width: 768px) {
  .l-works {
    margin-top: 5rem;
    padding-bottom: 8.75rem;
  }
}

.p-blog {
  position: relative;
  padding-top: 60px;
  padding-top: 3.75rem;
  padding-bottom: 140px;
  padding-bottom: 8.75rem;
}

.p-blog::before {
  content: "";
  position: absolute;
  top: -40px;
  top: -2.5rem;
  left: 0;
  background-color: rgba(80, 92, 75, .5019607843);
  max-width: 260px;
  max-width: 16.25rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-blog::before {
    max-width: 50%;
  }
}

.p-blog__header {
  text-align: center;
}

.p-blog__subtitle {
  margin-top: -3px;
  margin-top: -0.1875rem;
}

.p-blog-block {
  margin-top: 20px;
  margin-top: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-blog-block {
    margin-top: 2.875rem;
    line-height: 1.4;
  }
}

.p-blog__text-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-blog__text-pc {
    display: block;
  }
}

.p-blog__card {
  margin: 20px auto 0 auto;
  margin: 1.25rem auto 0 auto;
}
@media screen and (min-width: 768px) {
  .p-blog__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2.9375rem auto 0 auto;
  }
}

.p-blog__button-block {
  text-align: center;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-blog__button-block {
    margin-top: 3.5625rem;
  }
}

.p-blog__button {
  background-color: #4D4D4D;
  color: #F7F7F7;
  padding: 15.5px 81.3px;
  padding: 0.96875rem 5.08125rem;
}
@media screen and (min-width: 768px) {
  .p-blog__button {
    padding: 1.125rem 6.3125rem;
  }
}

.p-blog__button:hover {
  background-color: #F7F7F7;
  color: #4D4D4D;
  border: 2px solid #4D4D4D;
  margin: -2px;
}

.p-card-blog__block {
  background-color: #D2D2D2;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.p-card-blog__body {
  overflow: hidden;
  position: relative;
  padding: 20px 20px 22px 20px;
  padding: 1.25rem 1.25rem 1.375rem 1.25rem;
}

.p-card-blog__block:hover {
  background-color: #3D593D;
}

.p-card-blog__block:hover .c-card-blog__title {
  color: #F7F7F7;
}

.p-card-blog__block:hover .c-card-blog__text {
  color: #F7F7F7;
}

.p-card-blog__block:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (min-width: 768px) {
  .p-card-blog__block:nth-child(n+2) {
    margin-left: 3.5rem;
  }
}

.p-card-staff-blog__body {
  background-color: #F7F7F7;
  overflow: hidden;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  padding: 19px 20px 16px 20px;
  padding: 1.1875rem 1.25rem 1rem 1.25rem;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.p-card-staff-blog__body::after {
  background: #818A7D;
  border-radius: 47%;
  content: "";
  display: block;
  margin: auto;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 100%;
  height: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%) scale(0.1);
          transform: translateY(-50%) scale(0.1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0s;
  transition: opacity 0.5s, -webkit-transform 0s;
  transition: opacity 0.5s, transform 0s;
  transition: opacity 0.5s, transform 0s, -webkit-transform 0s;
  -webkit-transition-delay: 0s, 0.4s;
          transition-delay: 0s, 0.4s;
}

.p-staff-blog-card__block:hover .c-card-blog__title {
  color: #F7F7F7;
}

.p-staff-blog-card__block:hover .c-card-blog__text {
  color: #F7F7F7;
}

.p-staff-blog-card__block:hover .p-card-staff-blog__body::after {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition: opacity 0.8s, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.8s, -webkit-transform 0.6s ease-in-out;
  transition: opacity 0.8s, transform 0.6s ease-in-out;
  transition: opacity 0.8s, transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.p-news {
  background-color: #F1F0F0;
  padding-top: 14px;
  padding-top: 0.875rem;
  padding-bottom: 56px;
  padding-bottom: 3.5rem;
}
@media screen and (min-width: 768px) {
  .p-news {
    padding-top: 5rem;
    padding-bottom: 4.9375rem;
  }
}

.p-news__header {
  text-align: center;
  display: inline-block;
}

.p-news__subtitle {
  margin-top: -1px;
  margin-top: -0.0625rem;
}

.p-news__textblock {
  margin-top: 36px;
  margin-top: 2.25rem;
}

.p-news__text {
  text-align: center;
}

.p-news__text-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-news__text-pc {
    display: block;
  }
}

.p-news-card-box {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-news-card-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2.375rem;
  }
}

.p-news-card {
  background-color: #F7F7F7;
}

.p-card-news__body {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  padding-left: 60px;
  padding-left: 3.75rem;
}

.p-news-card__border {
  background-color: #AF9E97;
}

.p-news-card:hover .p-news-card__border {
  background-color: #F7F7F7;
}

.p-news-card:hover {
  background-color: #AF9E97;
}

.p-news-card:hover .p-card-news__body {
  background-color: #AF9E97;
}

.p-news-card:hover .c-card__title {
  color: #F7F7F7;
}

.p-news-card:hover .c-card__text {
  color: #F7F7F7;
}

.p-news__button-block {
  text-align: center;
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-news__button-block {
    margin-top: 2.5rem;
  }
}

.p-news__button {
  background-color: #4D4D4D;
  color: #F7F7F7;
  padding: 15.5px 81.3px;
  padding: 0.96875rem 5.08125rem;
}
@media screen and (min-width: 768px) {
  .p-news__button {
    padding: 1.125rem 6.25rem 1.125rem 6.25rem;
  }
}

.p-news__button:hover {
  background-color: #F7F7F7;
  color: #4D4D4D;
  border: 1px solid #4D4D4D;
  margin: -1px;
}

.p-staff-blog__header {
  text-align: center;
}

.p-staff-blog__subtitle {
  margin-top: -3px;
  margin-top: -0.1875rem;
}

.p-staff-blog-block {
  position: relative;
}

.p-staff-blog-block::before {
  position: absolute;
  content: "";
  background-color: rgba(175, 158, 151, .6);
  width: 100vw;
  height: 100%;
  margin-left: calc(50% - 50vw);
  padding-left: 15px;
  padding-left: 0.9375rem;
  padding-right: 15px;
  padding-right: 0.9375rem;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-staff-blog-block::before {
    height: 31.1875rem;
    top: 234px;
  }
}

.p-staff-blog-card__img {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);
}

.p-staff-blog__textblock {
  padding-top: 10px;
  padding-top: 0.625rem;
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-staff-blog__textblock {
    padding-top: 0;
    padding-top: initial;
    margin-top: 1.75rem;
  }
}

.p-staff-blog__text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-staff-blog__text-sp {
    display: none;
  }
}

.p-staff-blog__card {
  margin: 20px auto 0 auto;
  margin: 1.25rem auto 0 auto;
}
@media screen and (min-width: 768px) {
  .p-staff-blog__card {
    max-width: 62.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.8125rem auto 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .p-staff-blog-card__block:nth-child(n+4) {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .p-staff-blog-card__block {
    width: 18.5rem;
  }
}

.p-staff-blog__button-block {
  padding-top: 37px;
  padding-top: 2.3125rem;
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .p-staff-blog__button-block {
    padding-bottom: 0;
    padding-bottom: initial;
  }
}

.p-staff-blog__button {
  background-color: #F7F7F7;
  color: #4D4D4D;
  border: 2px solid #4D4D4D;
  margin: 2px 0 -1px 0;
  margin: 0.125rem 0 -0.0625rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15.5px 81.3px;
  padding: 0.96875rem 5.08125rem;
}
@media screen and (min-width: 768px) {
  .p-staff-blog__button {
    padding: 1rem 6.1875rem 0.875rem 6.1875rem;
  }
}

.p-staff-blog__button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #4D4D4D;
  color: #F7F7F7;
}

.p-works {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-works {
    padding-top: 8.75rem;
  }
}

.p-works::before {
  position: absolute;
  content: "";
  background-color: rgba(80, 92, 75, .5019607843);
  width: 260px;
  width: 16.25rem;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-works::before {
    width: 50%;
  }
}

.p-works-section__header {
  text-align: right;
}

.p-works__header {
  display: inline-block;
  text-align: center;
}

.p-works__subtitle {
  margin-top: -3px;
  margin-top: -0.1875rem;
}

.p-works__textblock {
  margin-top: 10px;
  margin-top: 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-works__textblock {
    margin-top: -0.25rem;
  }
}

.p-works__text {
  text-align: center;
}

.p-works__text-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-works__text-pc {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .p-works__text-sp {
    display: none;
  }
}

.p-works-card {
  position: relative;
}

.p-works-card__border {
  background-color: #6E6B5C;
  z-index: 3;
}

.p-card-works__body {
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  z-index: 2;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  padding-left: 10px;
  padding-left: 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-card-works__body {
    padding-top: 1.25rem;
    padding-right: 1.875rem;
    padding-bottom: 1.3125rem;
    padding-left: 4.9375rem;
  }
}

.p-card-works__body::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #6E6B5C;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-works-card:hover .p-card-works__title {
  color: #F7F7F7;
}

.p-works-card:hover .p-card-works__body::after {
  top: 0;
}

.p-card-works__title {
  text-align: center;
}

.p-works__Swiper {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-works__Swiper {
    width: 100vw;
    margin-top: 4.875rem;
    margin-left: calc(50% - 50vw);
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

.p-works__button-block {
  padding-top: 40px;
  padding-top: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .p-works__button-block {
    padding-top: 5.3125rem;
  }
}

.p-works__button {
  background-color: #F7F7F7;
  color: #4D4D4D;
  border: 2px solid #4D4D4D;
  margin: 2px 0 -1px 0;
  margin: 0.125rem 0 -0.0625rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 15.5px 81.3px;
  padding: 0.96875rem 5.08125rem;
}
@media screen and (min-width: 768px) {
  .p-works__button {
    padding: 1rem 6.1875rem 0.8125rem 6.1875rem;
  }
}

.p-works__button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #4D4D4D;
  color: #F7F7F7;
}
/*# sourceMappingURL=styles.css.map */
