@use "global" as *;

.c-button {
  line-height: 1;
  display: inline-block;
  font-size: rem(24);
  font-weight: $bold;
  font-family: $jp-font;
  text-transform: uppercase;
  border-radius: 20px;
  @include mq(md) {
    font-size: rem(32);
    // letter-spacing: 0.001em;
  }
}