@use "global" as *;

.c-card-blog {
  width: rem(296);
  margin: rem(20) auto 0 auto;
  @include mq(md) {
    width: 100%;
  }
}

// .c-card-blog__block:nth-child(n + 2) {
//   margin-top: rem(20);
//   @include mq(md) {
//     margin-top: initial;
//   }
// }

.c-card-blog__img img {
  border-radius: 10px 10px 0 0;
}

.c-card-blog__body {
  
}

.c-card-blog__title {
  font-family: $jp-font;
  font-weight: $normal;
  font-size: rem(20);
  color: $black;
}

.c-card-blog__text {
  font-family: $jp-font;
  font-weight: $normal;
  font-size: rem(16);
  color: $black;
}