@use "global" as *;

.c-section-header {
  font-family: $jp-font;
  color: $black;
}

.c-section-header__title {
  line-height: 1.4;
  font-weight: $bold;
  font-size: rem(32);
  text-transform: uppercase;
  @include mq(md) {
    line-height: initial;
    font-size: rem(48);
  }
}

.c-section-header__subtitle {
  font-weight: $normal;
  font-size: rem(16);
  border-bottom: 2px solid #005700;
  display: inline-block;
  @include mq(md) {
    font-size: rem(24);
  }
}