@use "global" as *;

.p-blog {
  position: relative;
  padding-top: rem(60);
  padding-bottom: rem(140);
}

.p-blog::before {
  content: "";
  position: absolute;
  top: rem(-40);
  left: 0;
  background-color: #505C4B80;
  max-width: rem(260);
  width: 100%;
  height: 100%;
  z-index: -1;
  @include mq(md) {
    max-width: 50%;
  }
}


.p-blog__header {
  text-align: center;
}

.p-blog__subtitle {
  margin-top: rem(-3);
}

.p-blog-block {
  margin-top: rem(20);
  text-align: center;
  @include mq(md) {
    margin-top: rem(46);
    line-height: 1.4;
  }
}

.p-blog__text-pc {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-blog__card {
  margin: rem(20) auto 0 auto;
  @include mq(md) {
    display: flex;
    justify-content: center;
    margin: rem(47) auto 0 auto;
  }
}

.p-blog__button-block {
  text-align: center;
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(57);
  }
}

.p-blog__button {
  background-color: $btn_color;
  color: $white;
  padding: rem(15.5) rem(81.3);
  @include mq(md) {
    padding: rem(18) rem(101);
  }
}

.p-blog__button:hover {
  background-color: $white;
  color: #4D4D4D;
  border: 2px solid  #4D4D4D;
  margin: -2px;
}