@use "global" as *;

.p-blog {
  position: relative;
  padding-bottom: rem(160);
}

.p-blog::before {
  content: "";
  position: absolute;
  top: rem(-40);
  left: 0;
  background-color: #505C4B80;
  max-width: rem(260);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.p-blog__header {
  text-align: center;
}

.p-blog-block {
  margin-top: rem(20);
  text-align: center;
}

.p-blog__button-block {
  text-align: center;
  margin-top: rem(20);
}

.p-blog__button {
  background-color: $btn_color;
  color: $white;
}