@use "global" as *;

.p-card-blog__block {
  background-color: #D2D2D2;
  border-radius: 10px;
  box-shadow: (5px 5px 5px rgba(0, 0, 0, 0.25));
}

.p-card-blog__block:nth-child(n + 2) {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: initial;
  }
}

.p-card-blog__body {
  overflow: hidden;
  position: relative;
  padding: rem(20) rem(20) rem(23) rem(20);
  @include mq(md) {
    padding: rem(20) rem(20) rem(22) rem(20);
  }
}

.p-card-blog__block:hover {
  background-color: #3D593D;
}

.p-card-blog__block:hover .c-card-blog__title {
  color: $white;
}

.p-card-blog__block:hover .c-card-blog__text {
  color: $white;
}

.p-card-blog__block:hover::after {
  transform: scale(1, 1);
}

.p-card-blog__block:nth-child(n + 2) {
  @include mq(md) {
    margin-left: rem(56);
  }
}

.p-card-blog__text {
  margin-top: rem(7.3);
  @include mq(md) {
    margin-top: rem(7.3);
  }
}