@use "global" as *;

.p-news {
  background-color: #F1F0F0;
  padding-top: rem(14);
  padding-bottom: rem(56);
  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(79);
  }
}

.p-news__header {
  text-align: center;
  display: inline-block;
}

.p-news__subtitle {
  line-height: 1.4;
  @include mq(md) {
    margin-top: rem(-1);
    line-height: initial;
  }
}

.p-news__textblock {
  margin-top: rem(27);
  line-height: 1.45;
  @include mq(md) {
    margin-top: rem(36);
    line-height: initial;
  }
}

.p-news__text {
  text-align: center;
}

.p-news__text-pc {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-news-card-box {
  margin-top: rem(28);
  @include mq(md) {
    display: flex;
    justify-content: center;
    margin-top: rem(38);
  }
}

.p-news-card {
  background-color: $white;
}

.p-card-news__body {
  padding-top: rem(20);
  padding-right: rem(20);
  padding-bottom: rem(20.5);
  padding-left: rem(60);
  @include mq(md) {
    padding-top: rem(20);
    padding-right: rem(20);
    padding-bottom: rem(20);
    padding-left: rem(60);
  }
}

.p-news-card__border {
  background-color: #AF9E97;
}

.p-news-card:hover .p-news-card__border {
  background-color: $white;
}

.p-news-card:hover {
  background-color: #AF9E97;
}

.p-news-card:hover .p-card-news__body {
  background-color: #AF9E97;
}

.p-news-card:hover .c-card__title {
  color: $white;
}

.p-news-card:hover .c-card__text {
  color: $white;
}

.p-news__button-block {
  text-align: center;
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-news__button {
  background-color: $btn_color;
  color: $white;
  padding: rem(15.5) rem(81);
  @include mq(md) {
    padding: rem(18) rem(100) rem(18) rem(100);
  }
}

.p-news__button:hover {
  background-color: $white;
  color: #4D4D4D;
  border: 1px solid  #4D4D4D;
  margin: -1px;
}