@use "global" as *;

.p-staff-blog__header {
  text-align: center;
}

.p-staff-blog-block {
  background-color: #AF9E9799;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: rem(15);
  padding-right: rem(15);
}

.p-staff-blog__textblock {
  padding-top: rem(10);
  margin-top: rem(30);
}

.p-staff-blog__text {
  text-align: center;
}

.p-staff-blog__button-block {
  padding-top: rem(40);
  padding-bottom: rem(40);
  text-align: center;
  text-transform: uppercase;
}

.p-staff-blog__button {
  background-color: $white;
  color: $btn_color;
  border: 2px solid #4D4D4D;
}