@use "global" as *;

.p-staff-blog__header {
  text-align: center;
}

.p-staff-blog__subtitle {
  margin-top: rem(-3);
}

.p-staff-blog-block {
  position: relative;
}

.p-staff-blog-block::before {
  position: absolute;
  content: "";
  background-color: #AF9E9799;
  width: 100vw;
  height: 100%;
  margin-left: calc(50% - 50vw);
  padding-left: rem(15);
  padding-right: rem(15);
  top: 0;
  left: 0;
  z-index: -1;
  @include mq(md) {
    height: rem(499);
    top: 234px;
  }
}

.p-staff-blog-card__img {
  box-shadow: (5px 5px 5px rgba(0, 0, 0, 0.25));
}

// .p-staff-blog-block {
//   background-color: #AF9E9799;
//   width: 100vw;
//   margin-left: calc(50% - 50vw);
//   padding-left: rem(15);
//   padding-right: rem(15);
//   @include mq(md) {
//     background-color: initial;
//   }
// }

.p-staff-blog__textblock {
  padding-top: rem(10);
  margin-top: rem(30);
  @include mq(md) {
    padding-top: initial;
    margin-top: rem(28);
    // line-height: 1.5;
  }
}

.p-staff-blog__text {
  text-align: center;
}

.p-staff-blog__text-sp {
  @include mq(md) {
    display: none;
  }
}

.p-staff-blog__card {
  margin: rem(20) auto 0 auto;
  @include mq(md) {
    max-width: rem(1000);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: rem(29) auto 0 auto;
  }
}

// .p-staff-blog-card__block:nth-child(n + 2) {
//   @include mq(md) {
//     margin-left: rem(56);
//   }
// }

// .p-staff-blog-card__block:nth-child(4) {
//   @include mq(md) {
//     margin-left: initial;
//   }
// }

// // .p-staff-blog-card__block:nth-child(2n + 1) {
// //   @include mq(md) {
// //     margin-left: initial;
// //   }
// // }

.p-staff-blog-card__block:nth-child(n + 4) {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-staff-blog-card__block {
  @include mq(md) {
    width: rem(296);
  }
}

.p-staff-blog__button-block {
  // position: relative;
  // top: 0;
  padding-top: rem(37);
  padding-bottom: rem(40);
  text-align: center;
  text-transform: uppercase;
  @include mq(md) {
    padding-bottom: initial;
  }
}

.p-staff-blog__button {
  background-color: $white;
  color: $btn_color;
  border: 2px solid #4D4D4D;
  margin: rem(2) 0 rem(-1) 0;
  transition: .3s;
  padding: rem(15.5) rem(81.3);
  @include mq(md) {
    padding: rem(16) rem(99) rem(14) rem(99);
  }
}

.p-staff-blog__button:hover {
  transform: translateY(-5px);
  background-color: #4D4D4D;
  color: $white;
}

